streamlit
pandas
numpy
plotly
xgboost

# PyTorch CPU uniquement pour éviter d'installer CUDA
torch==2.6.0
torchmetrics
pytorch-forecasting
pytorch-lightning

# Autres dépendances nécessaires
nest-asyncio
PyYAML
requests
pyarrow
typing_extensions
protobuf
tqdm
scikit-learn
joblib
